span{
	display:block;
}

h1{
	font-size: 30px;
}

body{
	color:#363636;
}
		
#topbar{
	background:gray;
	color:white;
	width:100%;
	height:8%;
	top:0;
	margin-top:0;
	position:fixed;
	z-index:1000;
	text-align:center;
}

#titel{
	margin:0 auto;
}

#buttonWijzig{
	width:20%;
	height:80%;
	margin-top:5px;
	margin-left:5px;
	background:url('../images/button.png');
	background-size: 100% 100%;
	float:left;
	line-height:32px;
}

#buttonNieuw{
	width:25%;
	height:80%;
	margin-top:5px;
	margin-right:5px;
	background:url('../images/button.png');
	background-size: 100% 100%;
	float:right;
	line-height:32px;
}

#maincontent{
	background-color: #fff;
	width:100%;
	height:100%;
	margin-top:8%;
	margin-bottom:8%;
	position:fixed;
}

/************************************GROEPEN*******************************/
.groep{
	width:100%;
	height:10%;
	padding:10px;
	border-bottom:1px solid #999;
}

.groepLeft{
	width:66%;
	margin-left:5px;
	float:left;
}

.groepImg{
	height:100%;
	width:15%;
	float:left;
	border:1px solid #000;
}

.groepNaam{
	font-size:16px;
	font-weight:bold;
	width:100%;

}

.groepBeheerder{
	width:100%;
	font-size:11px;
	line-height:17px;

}

.groepWekker{
	width:100%;
	font-size:11px;
	line-height:17px;

}

.groepRight{
	width:15%;
	height:20px;
	float:left;
	position:relative;
	top:50%;
	margin-top:-10px;
}

.groepAantal{
	float:left;
	background: url('../images/cirkel.png');
	width:12px;
	height:17px;
	padding-left:5px;
	padding-height:3px;
	background-size: 100% 100%;
}

.groepPijl{
	float:left;
	width:13px;
	margin-left:10px;
}

#bottombar{
    box-shadow: 0 1px 5px #000;
    background: gray;
    color: white;
    width: 100%;
    height: 8%;
    padding: 2px 0px;
    bottom: 0;
    margin-bottom: 0;
    position: fixed;
    z-index: 1000;
    text-align: center;
/*              background: url('images/menu_bg.png');*/

    background: url('../images/menu_bg.png') no-repeat ;
    background-size: 100% 100%;
    /*background: black;
      background-image: -moz-linear-gradient(top, #484848, #000000);
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#484848), to(#000000));
      background-image: -webkit-linear-gradient(top, #484848, #000000);
      background-image: -o-linear-gradient(top, #484848, #000000);
      background-image: linear-gradient(to bottom, #484848, #000000);
      filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff484848', endColorstr='#ff000000', GradientType=0);*/
}

#bottombar > ul{
	list-style-type: none;
}

#bottombar li{
	width: 25%;
	height: 100%;
/*				background: yellow;*/
	float: left;
	margin-bottom: 5px;
	
}

#bottombar li.active{
	background: url('../images/a_bg.png') no-repeat;
	background-size: 100% 100%;
}

#bottombar li img{
	height: 70%;
/*				float: left;*/
	margin: 0 auto;
}

#bottombar span{
/*				float: left;*/
	margin: 0 auto;
	line-height: 2px;
	font-size: 14px;
	display: block;
}

#bottombar a{
	color: white;
	text-decoration: none;
}

/*div#bottombar > div:hover{
	background: gray;
}*/
			
